.login {
	align-items: center;
	background: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0)),
		url(https://www.juancmejia.com/wp-content/uploads/2017/04/Transformaci%C3%B3n-digital-en-el-ADN-de-la-empresa.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 50px);
	justify-content: center;
	color: white;
}

.logincontainer {
	border: 1px solid #0000009e;
	padding: 15px;
	border-radius: 10px;
	background-color: rgba(10, 1, 63, 0.504);
}

.logintitle {
	font-size: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginForm {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	width: 250px;
}

.loginForm label {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.loginForm input {
	background-color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 13px;
	padding: 10px;
	outline: none;
	margin-bottom: 20px;
}

.loginFormbutton {
	background-color: rgb(19, 0, 129);
	border: none;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 13px;
	padding: 10px;
	text-align: center;
	width: 100%;
}

.loginFormbutton:hover {
	background-color: rgb(43, 0, 255);
}
