.login{
    align-items: center;
    background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)),url(https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    justify-content: center;
}

.logintitle{
    font-size: 50px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 159px;
}

.loginForm label{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loginForm input{
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    padding: 10px;
    outline: none;
}

.loginFormbutton{
    background-color: #f08080;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.registerbutton{
    border-radius: 10px;
    border: none;
    background-color: teal;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 60px;
}