.category {
	color: #be9656;
	cursor: pointer;
	font-family: Varela Round, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 11px;
	line-height: 19px;
	margin-top: 15px;
	margin-right: 10px;
}

.div {
	display: block;
}

.info {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.post {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.postimg {
	border-radius: 7px;
	height: 280px;
	object-fit: cover;
	width: 100%;
}

.title {
	cursor: pointer;
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 900;
	margin-top: 15px;
}

.time {
	color: #999;
	font-family: Lora, serif;
	font-style: italic;
	font-size: 13px;
	font-weight: 400;
	margin-top: 15px;
}

.text {
	color: #444;
	display: -webkit-box;
	font-family: Varela Round, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	margin-top: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
