.post {
	width: 100%;
	max-width: 300px;
	min-width: 200px;
	height: 300px;
	background: rgb(239, 239, 239);
	padding: 0.4em;
	border-radius: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(212, 212, 212);
}

.post:hover {
	background: rgb(197, 197, 197);
}

.Link {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90%;
	width: 100%;
	cursor: pointer;
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	font-size: 24px;
}

.postimg {
	border-radius: 25px 25px 0px 0px;
	height: 80%;
	object-fit: cover;
	width: 100%;
}

.h1 {
	height: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	color: black;
}

.favorite {
	width: 40px;
	position: absolute;
}

.postbutton {
	border-style: none;
	position: absolute;
}

.favorite:hover {
	border-style: solid;
	border-image-width: 5px;
	border-color: rgb(255, 255, 255);
	border-radius: 100%;
}

.favorite:active {
	border-color: rgb(0, 0, 0);
}
