.blog {
	font-size: 100px;
}

.header {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	position: relative;
}

.img {
	height: 450px;
	margin-top: 80px;
	object-fit: cover;
	width: 100%;
}

.reactNode {
	font-size: 20px;
}

.titles {
	align-items: center;
	color: #444;
	display: flex;
	flex-direction: column;
	font-family: Lora, serif;
	position: absolute;
	top: 0;
}
