.blog {
	font-size: 100px;
}

.header {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	position:relative;
}

.img {
	width: 100%;
	height: 450px;
	object-fit: cover;
}

.reactNode {
	font-size: 20px;
}

.titles {
	display: flex;
	position: absolute;
	top: 0;
	flex-direction: column;
	align-items: center;
	font-family: Lora, serif;
	color: #444;
}
