.top {
	display: flex;
	flex-direction: row;
	font-family: Josefin Sans, sans-serif;
	justify-content: space-around;
	position: sticky;
	padding: 10px;
	font-weight: 300;
}
a {
	color: black;
	text-decoration: none;
}
