.right {
	align-items: center;
	display: flex;
	gap: 20px;
	justify-content: center;
	width: 25%;
}

.rigthcolor {
	color: #666;
}

.rigthimg {
	width: 30px;
	object-fit: cover;
}

.rightbutton {
	border: none;
	background-color: white;
}

.rightbutton:hover {
	cursor: pointer;
}
