.post {
	display: flex;
	flex-direction: column;
	margin: 0 25px 40px;
	width: 385px;
}

.postCat {
	font-family: Varela Round, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 11px;
	color: #be9656;
	line-height: 19px;
	margin-top: 15px;
	margin-right: 10px;
	cursor: pointer;
}

.postDate {
	color: #999;
	font-family: Lora, serif;
	font-style: italic;
	font-size: 13px;
	font-weight: 400;
	margin-top: 15px;
}

.postDesc {
	color: #444;
	font-family: Varela Round, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	margin-top: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.postImg {
	border-radius: 7px;
	height: 280px;
	object-fit: cover;
	width: 385px;
}

.postInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.postTitle {
	font-family: Josefin Sans, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 900;
	margin-top: 15px;
	cursor: pointer;
}
