.detailsconteiner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	background-color: rgb(218, 218, 218);
}

.detailsconteiner img {
	width: 90%;
	height: 500px;
	object-fit: cover;
}

.detailsconteiner p {
	width: 70%;
}

.detailsbutton {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
